.header-container {
  background: lightgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-logo {
  font-size: 50px;
  font-weight: 200;
  color: yellow;
  background: lightsalmon;
  padding: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 10px;
  gap: 20px;
  background-color: lightsalmon;
}

a {
  text-decoration: none;
  color: yellow;
}
